@font-face {
    font-family: 'ProximaNova';
    src: url(fonts/ProximaNova-Regular.woff) format('woff'), url(fonts/ProximaNova-Regular.woff2) format('woff2');
    font-weight: 400;
  }
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'ProximaNova', Arial,Sans-serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 1.5;
      
}

.wrapper {
    min-width: 13em;
    background: #000;
}

.main_banner {
    background-image: url(../img/index-bg-01-2.jpg);
    height: 13em;
    background-size: cover;
    background-position: center 0;
    position: relative;
    text-align: left;
    overflow: hidden;
    background-repeat: no-repeat;
}

.main_banner__content {
    font-size: 80px;
    margin-top: 4em;
    margin-left: 57%;
    text-align: left;
    color: white;
}
h1 {
    font-size: 0.5em;
}

h3 {
    font-size: 0.5em;
    color: white;
}


.main_banner__content p {
    font-size: 0.24em;
    color: #757575;
}

.section-02 {
    margin: 0.5em auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 12em;
    margin-bottom: 0.7em;
}
.box_feature {
    position: relative;
    width: 5.4em;
    height: 4.8em;
    margin-right: 0.4em;
    margin-bottom: 0.3em;
}
.box_feature img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.1em;
}
.title_feature {
    position: absolute;
    top: 0.6em;
    color: #757575;
    font-size: .34em;
    line-height: 1.2;
    width: 100%;
}
@media screen and (max-width: 768px){
    .box_feature {
        width: 5.4em;
        height: 4.8em;
        margin-right: 0.4em;
        margin-bottom: 0.3em;
    }
    .title_feature {
    
    top: 0.6em;
    font-size: .3em;
    line-height: 1.2;
    
}
}
.section-03 {
    background-image: url(../img/section03_bg.jpg);
    height: 4em;
    background-size: cover;
    background-position: center 0;
    overflow: hidden;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-03 h3{
    text-align: center;
    font-size: 0.4em;
}

.section-04 {
    background-image: url(../img/section04_bg.jpg);
    height: 10.93em;
    background-size: cover;
    background-position: center 0;
    overflow: hidden;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.text_wrap_color {
    width: 12.2em;
    margin: 0.1em auto 0;
}
.section-04 h3 {
    font-size: 0.4em;
    margin-top: 1.6em;
    background-image: linear-gradient(to right,red,#3170ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.section-04 p {
    font-size: 0.3em;
    color: white;
}

